<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form action="#" class="subscribe-form">
                    <input type="text" placeholder="Enter your email to subscribe...">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="social-links">
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
                </div>
            </div>
        </div>

        <p class="colophon">Copyright 2023 Company name. Designed by <a href="https://github.com/kiarashsarafann">kiarash_sarafan</a>. All rights reserved</p>
    </div>
</footer>